<div class="reset-password-page">
  <div class="reset-password-card">
    <h2 class="reset-password-heading">{{ 'ACCOUNT.RESET_PASSWORD.TITLE' | translate }}</h2>

    <div [ngSwitch]="step">
      <form *ngSwitchCase="'request'" [formGroup]="form" (ngSubmit)="requestReset()" novalidate>
        <p class="reset-password-hint">{{ 'ACCOUNT.RESET_PASSWORD.REQUEST_HINT' | translate }}</p>
        <div class="input-group mb-3">
          <div class="form-floating flex-fill">
            <input
              formControlName="email"
              type="text"
              id="resetRequestEmail"
              [placeholder]="'ACCOUNT.RESET_PASSWORD.EMAIL' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('email')"
            />
            <label for="resetRequestEmail">{{ 'ACCOUNT.RESET_PASSWORD.EMAIL' | translate }}</label>
          </div>
          <div class="input-group-text"><i class="bi bi-envelope"></i></div>
        </div>

        <div *ngIf="errorMessages.length">
          <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
        </div>

        <button type="submit" class="btn btn-success w-100">
          {{ 'ACCOUNT.RESET_PASSWORD.SEND_LINK' | translate }}
        </button>
        <a routerLink="/account/login" class="reset-password-back">{{ 'ACCOUNT.RESET_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
      </form>

      <div *ngSwitchCase="'sent'" class="reset-password-message">
        <p>{{ 'ACCOUNT.RESET_PASSWORD.SENT_MESSAGE' | translate }}</p>
        <a routerLink="/account/login" class="reset-password-back">{{ 'ACCOUNT.RESET_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
      </div>

      <form *ngSwitchCase="'reset'" [formGroup]="form" (ngSubmit)="resetPassword()" novalidate>
        <div class="input-group mb-3">
          <div class="form-floating flex-fill">
            <input
              formControlName="newPassword"
              [type]="passwordVisible ? 'text' : 'password'"
              id="resetNewPassword"
              [placeholder]="'ACCOUNT.RESET_PASSWORD.NEW_PASSWORD' | translate"
              class="form-control"
              [class.is-invalid]="isInvalid('newPassword')"
            />
            <label for="resetNewPassword">{{ 'ACCOUNT.RESET_PASSWORD.NEW_PASSWORD' | translate }}</label>
          </div>
          <button
            type="button"
            class="input-group-text"
            (click)="togglePasswordVisibility()"
            [attr.aria-pressed]="passwordVisible"
            [title]="(passwordVisible ? 'ACCOUNT.LOGIN.HIDE_PASSWORD' : 'ACCOUNT.LOGIN.SHOW_PASSWORD') | translate"
          >
            <i [ngClass]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
          </button>
        </div>

        <div *ngIf="errorMessages.length">
          <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
        </div>

        <button type="submit" class="btn btn-success w-100">
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </form>

      <div *ngSwitchCase="'done'" class="reset-password-message">
        <p>{{ 'ACCOUNT.RESET_PASSWORD.DONE_MESSAGE' | translate }}</p>
        <a routerLink="/account/login" class="reset-password-back">{{ 'ACCOUNT.RESET_PASSWORD.BACK_TO_LOGIN' | translate }}</a>
      </div>
    </div>
  </div>
</div>
