<app-header
  title="Frota"
  [navigationMenus]="[
    { label: 'COMMON.HOME' | translate, link: '/home' },
    { label: 'Frota', link: '' },
  ]"
></app-header>

<div class="app-content">
  <app-grid
    #gridRef
    [baseEndPoint]="baseEndPoint"
    [className]="'SIDEBAR.VEHICLES' | translate"
    [serverSide]="true"
    [dataSource]="pagedDataSource"
    [columnDefs]="columnDefs"
    [refresh]="refreshVehicles.bind(this)"
    [delete]="deleteVehicle.bind(this)"
    (openModal)="openModal($event)"
  ></app-grid>
</div>
